.categoryContainer {
  /* border: 2px solid; */
  display: flex;
}

.sideContainer {
  /* border: 2px solid rgb(214, 122, 122); */
  flex: 1;
  margin-left: 2.25em;
  margin-right: 1.75rem;
}

.detailsContainer {
  /* border: 2px solid rgb(51, 81, 5); */
  flex: 1.2;
  margin-left: 1.75rem;
}

.center {
  text-align: center;
}

.noOfServices {
  border: 2px solid;
  display: flex;
  width: 15rem;
}
.noOfServices > p {
  border: 1px solid rgb(104, 90, 10);
  padding: 0.5rem;
  margin-right: 0.5rem;
  flex: 1;
  border-radius: 10px;
}

.container3 {
  display: flex;
  /* border: 2px solid; */
}
.container3Card {
  border: 2px solid;
  margin-right: 1rem;
  flex: 1;
  border-radius: 5px;
}

.cartDiv {
  display: flex;
  border: 2px solid;
  width: 70%;
  margin: 0 auto;
  border-radius: 5px;
}

.cartDiv > button {
  height: 2rem;
  width: 5rem;
  margin-left: 10rem;
  margin-top: 1.25rem;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 8px;
  background-color: white;
  color: rgb(110, 66, 229);
  font-weight: bold;
}

.cartDiv > span {
  margin-left: 0.5rem;
}
.cartDiv > span > h3 {
  word-wrap: normal;
  margin-bottom: 0;
}

.cartDiv > span > p {
  margin-top: 0;
}
.footerPrice {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  width: 25rem;
}

.footerPrice > button {
  position: absolute;
  right: 0;
  padding: 0.6rem;
  width: 12rem;
  height: 3rem;
  border-radius: 10px;
  top: 5%;
  background-color: rgb(110, 66, 229);
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.footerPrice > p {
  font-weight: bolder;
  font-size: 1rem;
}
